/*back-ground*/
.img-back-ground {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
/*end back-ground*/

/*profile-image*/
.profile-image {
  margin-top: -70px;
  display: flex;

  img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }
}
/*end profile-image*/

/*artist-info*/
.artist-info {
  padding: 40px 0;

  &__wrap-name-and-btn {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: capitalize;
  }

  &__wrap-button {
    display: flex;
    gap: 20px;

    a {
      padding: 0 50px;

      &:nth-child(2) {
        background-color: var(--color-background);
        border: 2px solid var(--color-main);
      }
    }
  }

  &__info-main {
    width: 599px;
    display: flex;
    margin-top: 30px;
    gap: 30px;
    flex-direction: column;
  }

  &__list-number {
    width: 510px;
    display: flex;
    gap: 30px;
  }

  &__item-number {
    flex: 1 0 0;
  }

  &__number {
    font-family: var(--font-other);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
  }

  &__text {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
  }

  &__add-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-transform: capitalize;
    }
  }

  h5 {
    color: #858584;
    font-family: var(--font-other);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
  }

  &__wrap-social-media{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__social-media{
    display: flex;
    gap: 10px;
  }
}
/*end artist-info*/

/*frame*/
.frame{
  
}
/*end frame*/